@charset "UTF-8";
.text1{
	
		display: inline-block;
		background-color: #669933;
		color:white;
		height: 100px;
		width: 100px;
		font-size:12px;
		position: relative;
		left: 500px;
		
}
.text2{
	
		display: inline-block;
		background-color: #FFCC33;
		color: white;
		height: 100px;
		width: 200px;
		font-size:12px;
		position: relative;
		left: 480px;
		
}
body{
	background-color: white;
		border: 1px solid;
		padding: 20px 30px 20px 30px;
		
		
}