@charset "UTF-8";
#contents{
	
		color:white;
		display:flex;
	    width:300px;
		margin-top: 50px;
		height:150px;
		border: solid 8px red;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
	   
		
}
#contents main{
	
		background-color: #FFCC33;
		width:200px;
		
}





#sub{
	
		background-color: #669933;
		display:flex;
		order: -1;
		width:100px;
		
		
		
		
		
}
