@charset "UTF-8";
body{
	background-image:url(bg_Argyle.jpg);
	
}
.curry{
	text-align:center
}
	
.zairyou{
	color:red;
}
.table1 {
	background-color: lemonchiffon
	border  1px solid;
	border-collapse:collapse;
	
	
}

.curry img{
	border:double 5px #ff0000;
}

.table1 table{
	border:solid 1px #ff0000;
}
.right{
	display:flex;
}
.page{
	padding-bottom: 50px;
}
.table1 caption{
	color:red;
	
}
.table,th,td,tr{
	
	border: 1px solid red;
	background-color: #FFFF99;
	
	
	
}
table th{
		text-align: left;
		
	
}
.make{
	font-size:25px;
	font-weight:bold;
	
}
.one{
	font-size:25px;
	font-weight:bold;
	
}
.cream{
	font-size:30px;
	font-weight:bold;
	}
	
	