@charset "UTF-8";
.yen{
	display:flex;
	text-align:left;
	height:60px;
	
}
.play{
	display:flex;
	text-align:left;
	height:60px;
	
}
li{
	
	overflow:hidden;
	background-color:#EEEEEE;
	border: 1px solid #DDDDDD;
	display:inline-block;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	background: linear-gradient(to bottom, white, #DDDDDD);
	width:120px;
	margin-top: 10px;
	margin:auto;
	
	
	
	
	}
ul{
	list-style:none;
	font-size:0;
	float:left;
	display:flex;
	width:fit-content;
	box-sizing:border;
	height:40px;
	line-height:45px;
	
	
	
}

#menu li a:hover{
	background-color:white;
	color:black;
	margin:auto;
	padding:0;
	display:block;
	
	
	
	
	
}
#menu li a{
	color:#0066FF;
	display:block;
	text-decoration:none;
	height:40px;
	
	
}

#menu{
	margin-left:100px;
	
	
	
	
	
}
.first img{
	margin-left:140px;
}
.image{
	margin-left:140px;
	
}
.foot{
	margin-left:140px;
}
.visual{
	
	width:1090px;
	margin-top:10px;
	
}

#home{
	border-radius:10px 0 0  10px;
	height:40px;
	
	
}
.know{
	height:20px
	
	
}

.items{
		
	height:20px
	
}
.service{
	
	
	height:20px
	
}

.company{
	
	height:20px
}
.form{
	
	height:20px
}

#blank{
	
	border-radius:0 10px 10px 0;
	height:20px;
	width:360px;
	height:40px;

}

.table{
	
	border: 1px solid #DDDDDD;
	padding:10px;
	border-radius:15px;
	background-color:#DDDDDD;
	width:500px;
	margin-left:20px;
}
.main{
	
	display:inline-block;
	display:flex;
	margin-top:20px;
	height:325px;
	
}
.sample{
	width:550px;
	position:relative;
	bottom:20px;
}


	
.answer{
	color:#0099FF;
}
.ins{
	color:#0099FF;
}
.yen p{
	position:relative;
	bottom:20px;
}
.play p{
	position:relative;
	bottom:20px;
	
}
.cut{
	width:1100px;
	margin-left:140px;
	margin-top:50px;
}
.foot{
	display:inline-block;
	display:flex;
	width:1100px;
	
}
.speed{
	width:385px;
	margin:10px;
}
.see{
	width:385px;
	margin:10px;
}
.social{
	width:385px;
	margin:10px;
}
